body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

.scroll-target {
  scroll-margin-top: 100px; /* or whatever your fixed header height is */
}


body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(43, 38, 55);
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: rgb(100, 97, 116);
}


.react-datepicker {
  background: #2b2c3b;
  border-radius: 14px;
  border: 1px solid #3e3f4d;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.react-datepicker__header {
  background-color: #2f2f3e;
  border-bottom: 1px solid #3e3f4d;
  padding-top: 8px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 0.95rem;
  font-weight: 500;
  color: #cfcfcf;
  text-transform: capitalize;
}

.react-datepicker__navigation {
  top: 12px;
}
.react-datepicker__navigation-icon::before {
  border-color: #cfcfcf;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: #cccccc;
  font-size: 0.85rem;
  border-radius: 8px;
  
}

.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: linear-gradient(135deg, #6a63d8, #8274c8);
  color: #ffffff;
  font-weight: 600;
}

.react-datepicker__day--today {
  border: 1.5px solid #5a4fb1;
  background-color: transparent;
  color: #ffffff;
}

.react-datepicker__day--disabled {
  color: #666;
  opacity: 0.4;
  pointer-events: none;
}

.react-datepicker__time-container {
  background: #2f2f3e;
  border-left: 1px solid #3e3f4d;
}

.react-datepicker__time-list-item {
  color: #ccc;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
}

.react-datepicker__time-list-item--selected {
  background: linear-gradient(135deg, #6a63d8, #8274c8);
  color: white;
  font-weight: bold;
}
.react-datepicker__time-list-item:hover {
  background-color: rgba(42, 41, 41, 0.1);
  color: #000000;
}


.react-datepicker__time-list::-webkit-scrollbar {
  width: 6px;
}
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #6a63d8, #8274c8);
  border-radius: 4px;
}