.backTheme1 {
  background-color: rgb(100, 97, 116);
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loginBox1 {
  display: flex;
  width: 90%;
  max-width: 900px;
  height: 600px;
  background-color: rgb(43, 38, 55);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.imageIllustration1 {
  width: 50%;
  background-color: rgb(43, 38, 55);
}

.image1 {
  width: 98.5%;
  height: 98%;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 8px;
  margin-top: 6px;
  margin-left: 0px;
  
}

.signInContent1 {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.titleText1 {
  width: 100%;
  text-align: left;
  margin-bottom: 0 px;
}

.titleText1 p {
  margin-top: 0;
  color: rgb(126, 126, 129);
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}


.input1 {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px;
  background-color: rgb(59, 54, 74);
  color: white;
  width: 94%;
  max-width: 400px;;
}

.button1 {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(130, 66, 201);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

.divider1 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(151, 151, 153);
  margin-bottom: 15px;
  width: 100%;
}

.divider1 hr {
  flex: 1;
  border: none;
  border-top: 1px solid rgb(151, 151, 153);
}

.divider1 span {
  margin: 0 10px;
}

.googleButton1 {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  font-size: 16px;
  background-color: rgb(43, 38, 55);
  color: white;
  border: 1px solid rgba(250, 250, 250, 0.35);
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.googleLogo1 {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.loginLink1 {
  margin-top: 20px;
  color: rgb(170, 170, 173);
}

.link1 {
  color: rgb(142, 88, 186);
  cursor: pointer;
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
}