.product-section {
 background: rgba(243, 243, 245);
  padding: 4rem 1rem;
}


.product-grid-landing {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px); 
  justify-content: center; 
  gap: 2rem;
  margin-top: 2rem;
}

.product-empty-text {
  text-align: center;
  color: #6b7280;
  margin-top: 2rem;
  font-size: 1rem;
}

.product-card {
  background: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

}


.product-card-img-container {
  width: 100%;
  height: 220px;
  
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  position: relative;
  background-color: #8b898900;
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  object-position: center;
  display: block;
  transition: transform 0.4s ease;
}

.product-card-img-container:hover .product-card-img {
  transform: scale(1.06);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}


.product-card-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.product-badge-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-badge {
  
  font-weight: 600;
  font-size: 11px;
  padding: 3.2px 9.6px;
  border-radius: 9px 0 09px;
}

.badge-green {
  background-color: #e4fbeeca;
  color: #166534;
}

.badge-red {
  background-color: #fee2e2;
  color: #b91c1c;
}

.product-card-bottom {
  margin-top: 1rem;
  flex-grow: 1;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}


.product-divider {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #868486;
}

.product-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.product-price-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 1.1rem;
  margin-top: -7px;
  margin-bottom: -8px;
}

.product-price-column-current {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  min-width: 0;
  margin-right: 30px;
}

.product-price-column-start {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  min-width: 0;
  margin-right: 10px;
}
.product-price-column div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-text-rate {
  font-size: 14px;
  font-weight: 600;
  color: #0000008d;
  margin-bottom: -3px;
}

.title-small-green {
   color: #166334;
   margin-top: 2px;
   font-size: 26px;
   margin-bottom: 2px;
}

.title-small-red {
   color: #444c4e;
  margin-top: 2px;
   font-size: 26px;
   margin-bottom: 2px;
}

.product-divider-vertical {
  width: 1px;
  height: 2.5rem;
  background-color: #d1d5db;
  margin-bottom: 0px;
}

.product-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.product-btn {
 
  background: transparent;
  background-color: #cbcbcb67;
  border: none;
  padding: 8px 16px;
  border-radius: 0 12px 12px 12px;
  margin-left: 2px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: #000000;
  font-weight: 450;
}

.product-btn:hover {
 background: rgba(39, 39, 41, 0.951);
 color: white;
  cursor: pointer;
}

.product-btn-icon {
  background-color: #cbcbcb67;
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
}

.product-btn-icon:hover {
   background: rgba(39,39,41);
 color: white;
  cursor: pointer;

}
.favorite-icon {
  color: #FAFAFA; 
}