/* Main Wrapper */
.profile-page {
  max-width: 100%;

  margin: 0rem auto;
  padding: 4rem 2.5rem;
  background: #ffffff00;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: -30px;
  
}

